@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Outfit:wght@400;600;700&family=Palanquin:wght@300;400&family=Red+Hat+Display:wght@500;900&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

body {
    height: 100vh;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 700px;
    height: 530px;
    background-color: hsl(0, 0%, 100%);
}

.header {
    height: 40%;
    padding: 30px 60px 30px 30px;
}

.title {
    color: hsl(179, 62%, 43%);
    margin-bottom: 20px;
}

.free {
    color: hsl(71, 73%, 54%);
    margin-bottom: 15px;
}

.para1 {
    color: hsl(218, 22%, 67%);
    line-height: 30px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    height: 60%;
}

.section1 {
    width: 50%;
    background-color: hsl(179, 62%, 43%);
    padding: 30px 30px 30px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.delay-plan {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
}

.price {
    color: hsl(0, 0%, 100%);
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

span {
    font-size: 15px;
    margin-left: 10px;
    color: hsl(179, 48%, 18%);
}

.access {
    margin-top: 13px;
    color: hsl(0, 2%, 83%);
    font-size: 15px;
}

.sign-up {
    margin-top: 30px;
    width: 80%;
    height: 50px;
    font-size: 15px;
    background-color: hsl(71, 73%, 54%);
    border: none;
    color: hsl(0, 0%, 100%);
    border-radius: 7px;
    box-shadow: 2px 4px 6px hsl(0, 1%, 34%);
}

.section2 {
    width: 50%;
    background-color: hsl(179, 62%, 73%);
    padding: 30px 30px 30px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title2 {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
}

ul {
    margin-top: 20px;
    line-height: 25px;
    color: hsl(0, 69%, 97%);
    font-size: 13px;
}

li {
    list-style: none;
}

@media screen and (max-width: 720px) {
    .container {
        width: 650px;
    }
}

@media screen and (max-width: 660px) {
    .container {
        width: 600px;
    }

    .para1 {
        font-size: 14px;
    }
}

@media screen and (max-width: 610px) {
    .container {
        width: 550px;
    }

    .title {
        font-size: 25px;
    }

    .free {
        font-size: 16px;
    }

    .para1 {
        font-size: 13px;
    }
}

@media screen and (max-width: 560px) {
    .container {
        width: 350px;
        height: 640px;
    }

    .header {
        height: 40%;
        padding: 20px 20px 20px 20px;
    }

    .title {
        font-size: 22px;
    }

    .free {
        font-size: 18px;
    }

    .para1 {
        font-size: 15px;
    }

    .container2 {
        display: flex;
        flex-direction: column;
    }

    .section1 {
        width: 100%;
        height: 60%;
        padding: 20px 20px 20px 20px;
    }

    .delay-plan {
        font-size: 20px;
    }

    .price {
        font-size: 28px;
        margin-top: 10px;
    }

    span {
        font-size: 10px;
    }

    .access {
        font-size: 13px;
    }

    .sign-up {
        margin-top: 15px;
        width: 100%;
        height: 40px;
        box-shadow: 2px 4px 6px hsl(0, 1%, 34%);
    }

    .section2 {
        width: 100%;
        height: 60%;
        padding: 20px 20px 20px 20px;
    }

    .title2 {
        font-size: 20px;
    }

    ul {
        font-size: 12px;
        line-height: 18px;
        margin-top: 10px;
    }
}

.attribution {
    margin-top: 15px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}